*~
/bin/
/libelf-*.tar.gz
/libelf-*.tar.bz2
/libelf-*/
/binutils-*.tar.gz
/binutils-*.tar.bz2
/binutils-*/
/gmp-*.tar.gz
/gmp-*.tar.bz2
/gmp-*/
/mpfr-*.tar.gz
/mpfr-*.tar.bz2
/mpfr-*/
/mpc-*.tar.gz
/mpc-*.tar.bz2
/mpc-*/
/ppl-*.tar.gz
/ppl-*.tar.bz2
/ppl-*/
/cloog-*.tar.gz
/cloog-*.tar.bz2
/cloog-*/
/gcc-*.tar.gz
/gcc-*.tar.bz2
/gcc-*.*/
/icu4c-*.tgz
/icu/
/openmpi-*.tar.gz
/openmpi-*.tar.bz2
/openmpi-*/
/boost_*.tar.gz
/boost_*.tar.bz2
/llvm/
*.log
