*~
/bin/
/binutils-*.tar.gz
/binutils-*.tar.bz2
/binutils-*/
/gmp-*.tar.gz
/gmp-*.tar.bz2
/gmp-*/
/mpfr-*.tar.gz
/mpfr-*.tar.bz2
/mpfr-*/
/mpc-*.tar.gz
/mpc-*.tar.bz2
/mpc-*/
/mingw-w64-*.tar.bz2
/mingw-w64-*/
!/mingw-w64-headers/
!/mingw-w64-crt/
/gcc-*.tar.gz
/gcc-*.tar.bz2
/gcc-*/
