*~
/bin/
/libelf-*.tar.gz
/libelf-*.tar.bz2
/libelf-*/
/binutils-*.tar.gz
/binutils-*.tar.bz2
/binutils-*/
/lcov-*/
/gcovr-*/
/gdb-*.tar.gz
/gdb-*.tar.bz2
/gdb-*/
/opencv-*.tar.gz
/opencv-*.tar.bz2
/opencv-*.zip
/opencv-*/
/gmp-*.tar.gz
/gmp-*.tar.bz2
/gmp-*/
/mpfr-*.tar.gz
/mpfr-*.tar.bz2
/mpfr-*/
/mpc-*.tar.gz
/mpc-*.tar.bz2
/mpc-*/
/ppl-*.tar.gz
/ppl-*.tar.bz2
/ppl-*/
/isl-*.tar.gz
/isl-*.tar.bz2
/isl-*/
/cloog-*.tar.gz
/cloog-*.tar.bz2
/cloog-*/
/gcc-*.tar.bz2
/gcc-*.tar.bz2.sig
/gcc-*/
/icu4c-*.tgz
/icu-*/
/openmpi-*.tar.gz
/openmpi-*.tar.bz2
/openmpi-*/
/boost_*.tar.gz
/boost_*.tar.bz2
/llvm-*.src.tar.gz
/cfe-*.src.tar.gz
/clang-tools-extra-*.src.tar.gz
/compiler-rt-*.src.tar.gz
/llvm-*/
/valgrind-*.tar.bz2
/valgrind-*/
/cradle-*/
/objdir/
/objdir_*/
*.log
